

.encabezado{
    background-color: #E5E5E5;
    position: absolute;
    width: 1440px;
    height: 189px;
    left: 0px;
    top: 0px;
    text-align: center;
    
    
}

.foto-perfil{
    position: absolute;
    width: 100px;
    height: 147px;
    left: 670px;
    top: 21px;
}

.curriculum{
    background-color: #C4C4C4;
    color: #005677;
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 188px;
    text-align: center;
    word-spacing: 5px;
    
}


main{
    position: absolute;
    width: 1041px;
    height: 459px;
    left: 225px;
    top: 352px;
    color: #005677;
}

main h2{
    background-color: #C4C4C4;
}



footer{
    background-color: #005677;
    color: #C4C4C4;
    position: relative;
    width: 1440px;
    height: 37px;
    left: 0px;
    top: 987px;
    text-align: center;
    
}
