*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    font-family: 'Roboto', sans-serif;
  
}

body header{
    background-color: #222222;
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body header .pizza-header{
    position: absolute;
    width: 92px;
    height: 80px;
    left: 20px;
    top: 10px;

}

body header h2{
    position: absolute;
    width: 132px;
    height: 28px;
    left: 122px;
    top: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color:#39B24A;
}

body header h2 .blanco{
    color:white ;
}

body header h2 .rojo{
    color: red;
}

body header nav .menu-header{
    position: absolute;
    color:#F3F3F3;
    width: 284px;
    height: 19px;
    left: 720px;
    top: 40px;
    display: flex;
    list-style-type: none;
    text-align: center   
}

body header nav .menu-header li{ 
    background-color:#222222;
    display: inline;
    margin-right: 10px;

}

body header nav .menu-header li a{
    color: white;
    padding: 0 4px;
    text-decoration: none;
}

/* fin de la parte header*/


/* inicio parte main*/

body main section .parte-del-repartidor{
    position: absolute;
    width: 490px;
    height: 350px;
    left: 19px;
    top: 135px;
    background: url(delivery.jpg);
    border-radius: 5px;
}


body main section div.parte-del-repartidor h2{
    position: absolute;
    width: 351px;
    height: 28px;
    left: 20px;
    top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
}

body main section .parte-del-repartidor h2 .comprando-blanco{
    color: white;
}

body main section .podio-de-pizzas{
    position: absolute;
    width: 491px;
    height: 350px;
    left: 514px;
    top: 135px;
    background: #ffff;
    border-radius: 5px;
}
   
body main section .podio-de-pizzas h2{
    position: absolute;
    width: 171px;
    height: 28px;
    left: 160px;
    top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
}   

body main section .podio-de-pizzas h3{
    position: absolute;
    width: 111px;
    height: 23px;
    left: 69px;
    top: 112px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #222222;

}

body main section .podio-de-pizzas .tipos-de-pizzas{
    position: absolute;
    width: 173px;
    height: 178px;
    left: 70px;
    top: 155px;
    font-weight: bold;
    
}

body main section .podio-de-pizzas .plato-con-pizza{
    position: absolute;
    width: 92px;
    height: 129px;
    left: 325px;
    top: 132px;

    background: url(falling.png);
    border-radius: 5px;
}
/* final parte main*/

/* inicio parte footer*/



body footer{
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    bottom: 0px;
    background: #222222;
    display: flex;
}

body footer h2{
    position: absolute;
    width: 110px;
    height: 23px;
    left: 872px;
    bottom: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #39B24A;
}

body footer h2 .blanco{
    color:white ;
}

body footer h2 .rojo{
    color: red;
}

body footer .pizza-footer{
    position: absolute;
    width: 92px;
    height: 80px;
    left: 770px;
    top: 35px;

}

body footer nav .menu-footer{
    position: absolute;
    color:#F3F3F3;
    width: 78px;
    height: 112px;
    top: 19px;
    left:20px;
    display: flex;
    text-align: start;
    flex-direction:column;
    justify-content: space-between;
    
}

body footer nav .menu-footer li{ 
    background-color:#222222;
    margin-right: 10px;
    


}

body footer nav .menu-footer li a{
    color: white;
    padding: 0 4px;
    text-decoration: none;
}